body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 99vh;
    margin: 0px;
}
header {
    text-align: center;
    background-color: #c2c2c2;
    margin: 0px;
}
header > p {
    
    color: #000000;
}
main {
    text-align: center;
}
#calculadora {
    width: max-content;
    border: 2px solid #8518ce;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
}
#resultado {
    font-size: 20px;
    width: 100%;
    height: 30px;
    background-color: #d1d1d1;
    border-radius: 3px;
    margin: 0 0 10px 0;
}
.button {
    display: inline-block;
    width: 40px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0px;
    cursor: pointer;
}
#L2 {
    margin-top: 3px;
}
.inicioL2 {
    display: block;
}
#L3 {
    margin-top: 3px;
}
#L4 {
    margin-top: 3px;
}
#L5 {
    margin-top: 3px;
}